html {
	height: auto;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,
		rgba(18, 18, 18, 1) 15%, rgba(30, 29, 29, 1) 30%, rgba(40, 38, 38, 1)
		45%, rgba(47, 46, 46, 1) 60%, rgba(47, 45, 45, 1) 75%,
		rgba(44, 41, 41, 1) 90%, rgba(35, 34, 34, 1) 100%);
}

body {
   	font-family: 'MontSerrat', sans-serif;
    font-optical-sizing : auto; 
	font-weight : 500; 
	font-style : normal;
    color: #ffffff; 
}

nav {
	background-color: #111110;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	height: 40px;
}

.logo {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 50px;
}

#table{
	display: grid;
	place-items: center;
	margin: 20px 0;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {	
    width: 75%;
    border-collapse: collapse;
    border-radius:8px;
    overflow:hidden;
    margin-top: 20px;
}

th {
    padding: 20px;
    text-align: left;  	
    border-bottom: 1px solid #ddd;
}

td {
    padding: 13px;
    text-align: left;    
}

thead, tr{
    color: #fff;
    background-color: #1a1a1a;   
}

div#table table tbody tr:hover {
    background-color: #252425;
    border-radius: 20px;
}

/*To add background color*/
@media screen and (min-width: 100px) {
	html, body {
		min-height: 100%;
	}
} 