<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home - Admin</title>
		<link rel="icon" type="image/png" href="/images/logo.png">
		<link rel="stylesheet" href="/css/adminlogin.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet">	
	</head>
	
	<body>
	<header>
		<nav>
			<a href="index" class="logo">TuneHub</a>
		    <div class="spacer"></div> 
			<a href="logout" id="logout">Logout</a> 
		</nav>
	</header>
		<div class="container">
			<header>
				<h1>Welcome, Admin!</h1>
			</header>
	
			<main id="buttons">
				<form action="addsong" method="post">
					<button class="action-button" type="submit">Add Songs</button>
				</form>
	
				<form action="viewsongs">
					<button class="action-button" type="submit">View Songs</button>
				</form>
	
				<form action="createplaylist">
					<button class="action-button" type="submit">Create Playlist</button>
				</form>
	
				<form action="viewplaylist">
					<button class="action-button" type="submit">View Playlist</button>
				</form>
	
				<!-- <form action="updateplaylist">
					<button class="action-button" type="submit">Update Playlist</button>
				</form> -->
				
				
			</main>
		</div>
		<div th:replace="~{footer :: footer}"></div>
	</body>
</html>