<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Playlist</title>
<link rel="icon" type="image/png" href="/images/logo.png">
<link rel="stylesheet" href="/css/createplaylist.css" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
</head>

<body>
	<header>
		<nav>
			<a href="index" class="logo">TuneHub</a>
		</nav>
	</header>
	<form action="addplaylist" method="post">
		<label >PlayList Name:</label> 
		<input type="text" name="name" id="playlist-name" placeholder="Enter the Playlist Name">
		<div id="table">
			<table>
				<thead>
					<tr>
						<th>Select</th>
						<th>Song name</th>
						<th>Artist</th>
						<th>Genre</th>
						<th>Play</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="song:${songs}">
						<td><input type="checkbox" id="checkbox" th:name="songs" th:value="${song.id}"></td>
						<td th:text="${song.name}"></td>
						<td th:text="${song.artist}"></td>
						<td th:text="${song.genre}"></td>
						<td>
							<audio controls>
								<source th:src="${song.link}">
							</audio>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div id="add-playlist-button">
			<input type="submit" value="Add Playlist" id="button">
		</div>
		
	</form>
	<div th:replace="~{footer :: footer}"></div>
</html>